#activities{
    
    @extend .in-main;
    @extend .text-center;
    padding-bottom: 3vw;
    
    #tiles-activities{
        @extend .col-66;
        @extend .offset-17;
        margin-top: 3vw;
        
        @include responsive {
            @include col(100);
            @include offset(0);
        }
            
        .routePossible{
            cursor: pointer;
        }
        
        .tile{
            width: 100%;
            @extend .square;
            
            .title{
                padding: 5%;
                @include responsive {
                    padding: 2%;
                }
            }
            
            .back{
                @extend .text-left;
                
                .back-title-icon{
                    margin-right: 0.2em;
                }
                
                .back-title{
                    padding-left: 5%;
                    padding-right: 5%;
                }
                
                .back-content{
                    padding: 2% 5% 5% 5%;
                    @include responsive {
                        padding: 2%;
                    }
                }
                
            }
        }
        
    }
    
}