#contacts{
    
    @extend .in-main;
    @extend .text-center;
    
    .angular-google-map-container{
        height: 20em;
    }
    
    .introduction{
    	margin-bottom: 3em;
    }
    
    #contact-form-wrapper, #how-to-map-wrapper{
        @extend .bg-light-grey;
        @extend .well;
    }
    
    #contact-form-wrapper{
        @include responsive{
            margin-top: $main-spacer;    
        }
    }
    
    #contact-form, #contacts-list{
        @extend .text-left;
    }
    
    #contacts-list{
    	font-size: 16px;
    }
    
    #contact-form{
        @extend .in-main;
        
        #contacts-submit{
            @extend .col-30;
            @extend .offset-35;
            @extend .btn;
        }
    }
    
    #contacts-map{
        margin-bottom: 19px;
    }
    
    .distant{
        margin-top: 2em;
    }
    
    .message-with-symbol {
    	padding: 8px 16px;
    	vertical-align: middle;
    	
    	div {
    		display: table-cell;
    		vertical-align: middle;
    		text-align: justify;
    	}
    }
}