#courses{
    
    @extend .in-main;
    @extend .text-center;
    padding-bottom: 3vw;
    
    #tiles-courses{
        @extend .col-80;
        @extend .offset-10;
        margin-top: 3vw;
        
        @include responsive {
            @include col(100);
            @include offset(0);
        }
        
        .category-column{
            @extend .float;
        }
        
        .category-title{
            @extend .bg-darker-grey;
            .container {
                padding: 5%;
            }
            font-size: 1.6em;
        }
            
        .routePossible{
            cursor: pointer;
        }
        
        .tile{
            width: 100%;
            @extend .square;
            
            .resp-img
            {
            	max-width: 60%;
            	max-height: 60%;
            }
            
            .title{
                padding: 5%;
                font-size: 1.3em;
            }
            
            .back{
                @extend .text-left;
                
                .back-title{
                	font-size: 1.3em;
                    padding: 5%;
                    span{
                    	display:inline-block;
                    }
                }
                
                .back-content{
                	font-size: 1.2em;
                    padding: 5%;
                    
                }
                
            }
        }
        
    }
    
}