#singleCourse{
    @extend .in-main;
    
    .gridster-item{
        
        @extend .col-100;
        @extend .text-justify;
/*         @extend .bg-lightest-grey; */
    }
    
    .no-gridster-item{
    	margin-bottom: 1em;
    	max-height: 75vh;
    }
    
    .panel-title{
        @extend .col-100;
        @extend .text-center;
        font-variant: small-caps;
    }
    
    .panel-content{
        @extend .col-100;
    }
    
    a{
        text-decoration: none;
        @extend .pond;
        &:hover{
            @extend .water;
        }
    }
    
    .material-title{
        @extend .col-40;
    }
    
    .material-content{
        @extend .col-50;
        @extend .offset-10;
    }
    
    .course-notification-date{
        @extend .col-30;
    }
    
    .course-notification-text{
        @extend .col-65;
        @extend .offset-5;
    }
    
    .teacher-icon{
        @extend .col-20;
        
        .team-social-buttons {
        	@extend .col-100;
        }
    }
    
    .teacher-avatar{
        @extend .col-100;
        display: block;
        float: none;
        
        .circle-img{
        	@extend .col-60;
        	float: none;
        	margin-left: auto;
    		margin-right: auto;
    	}
    }
    
    .teacher-name{
    	float: none;
    }
    
    .teacher-description{
    	@extend .col-73;
    	@extend .offset-2;
    	@extend .text-justify;
    }
    
    .course-description-introduction, .course-description-syllabus{
        @extend .col-100;
    }
    
    .course-icon{
		width: 10em;
    	float: left;
    	padding: 0.6em;
    	padding-right: 1.5em;
    	padding-bottom: 0.8em;
    }
    
    .course-description{
        @extend .col-100;
    }
    
    .agendaButtons
    {
    	margin-bottom: 1vw;
    	text-align: center;
    }
    
	.course-info emph {
		font-weight: bold;
	}
	
	.course-info .details {
		margin: 10px 0px;
	}
	
	.pay-button {
		position: fixed;
		bottom: 10px;
		right: 10px;
		
		img {
			height: 150px;
			
			&:hover {
    			opacity: .7;
    		}
		}
	}
	
	.faq-button {
		position: fixed;
		bottom: 10px;
		left: 10px;
		
		a {
			height: 150px;
			color: white;
			font-size: 0.3em;
			
			&:hover {
    			opacity: .7;
    		}
		}
	}
}