#singleCourse{
    @extend .in-main;
    
    .gridster-item{
        
        @extend .col-100;
        @extend .text-justify;
/*         @extend .bg-lightest-grey; */
    }
    
    .panel-title{
        @extend .col-100;
        @extend .text-center;
        font-variant: small-caps;
    }
    
    .panel-content{
        @extend .col-100;
        padding: 26px 10px 26px 10px;
    }
    
    a{
        text-decoration: none;
        color: inherit;
        &:hover{
            @extend .green;
        }
    }
    
    .material-title{
        @extend .col-40;
    }
    
    .material-content{
        @extend .col-50;
        @extend .offset-10;
    }
    
    .course-notification-date{
        @extend .col-30;
    }
    
    .course-notification-text{
        @extend .col-65;
        @extend .offset-5;
    }
    
    .teacher-avatar{
        @extend .col-50;
        @extend .offset-25;
    }
    
    .teacher-name, .teacher-description{
        @extend .col-100;
    }
    
    .teacher-description{
    	@extend .text-justify;
    }
    
    .course-description-introduction, .course-description-syllabus{
        @extend .col-100;
    }
    
    .course-icon{
        @extend .col-25;
        @extend .text-center;
    }
    
    .course-description{
        @extend .col-75;
    }
    
    .agendaButtons
    {
    	margin-bottom: 1vw;
    	text-align: center;
    }
    
}