#courses{
    
    @extend .in-main;
    @extend .text-center;
    padding-bottom: 3vw;
    
    /* RESPONSIVE */
    
    #courses-bookmarks
    {
		width:100%;
    }
    
    .category-bookmark
    {
    	@extend .bookmark;
    	@extend .bg-jungle;
    	@extend .white;
    }
    
    #courses-responsive
    {
    	position: relative;
    	width: 100%;
    	@extend .animated-class-fast;
    }
    
    .course-bookmark
    {
    	z-index: 98;
    	visibility: hidden;
		position: absolute;
		top: 0;
		right: -13vw;
    	width: 75vw;
	    margin-top: 1em;
	    margin-bottom: 1em;
    	@extend .white;
    }
    
    .bookmark{
    	z-index: 100;
		position: relative;
		right: -30vw;
    	width: 75vw;
	    margin-top: 1em;
	    margin-bottom: 1em;
    }
    
    .bookmark-content{
    	height: 4em;
    	
    }
    
    .bookmark-tail{
		position: absolute;
		left: 0;
    	border-top: 2em solid transparent;
	    border-bottom: 2em solid transparent;
	    border-left: 2em solid white;
    }

	.swipeRight
	{
		animation-name: swipeRight;
	}
	
	.removeSwipeRight
	{
		animation-name: removeSwipeRight;
	}
	
	@keyframes swipeRight
	{
		0%
		{
			right: -30vw;
		}
		60%
		{
			right: -22vw;
		}
		100%
		{
			right: -100vw;
		}
	}
	
	@keyframes removeSwipeRight
	{
		0%
		{
			right: -100vw;
		}
		
		40%
		{
			right: -22vw;
		}
		100%
		{
			right: -30vw;
		}
	}
    
    /* DESKTOP */
    
    #tiles-courses{
        @extend .col-80;
        @extend .offset-10;
        margin-top: 3vw;
        
        .category-column{
            @extend .float;
        }
        
        .category-title{
            @extend .bg-darker-grey;
            .container {
                padding: 5%;
            }
            font-size: 1.6em;
        }
            
        .routePossible{
            cursor: pointer;
        }
        
        .tile{
            width: 100%;
            @extend .square;
            
            .resp-img
            {
            	max-width: 60%;
            	max-height: 60%;
            }
            
            .title{
                padding: 5%;
                font-size: 1.3em;
            }
            
            .back{
                @extend .text-left;
                
                .back-title{
                	font-size: 1.3em;
                    padding: 5%;
                    span{
                    	display:inline-block;
                    }
                }
                
                .back-content{
                	font-size: 1.2em;
                    padding: 5%;
                    
                }
                
            }
        }
        
    }
    
}