#faqPage{
    
    @extend .in-main;
    text-align: left;
    margin-top: 1em;
    
    .stepLine{
        @extend .col-100;
    }
    
    .faqStep{
        @extend .col-70;
        @extend .offset-15;
        margin-top: 2em;
    }
    .step-title{
        color: #4C4C4C;
    }
    .answer{
        color: #4C4C4C;
    }
    .stepContent{
        @extend .col-100;
        margin-top: 1em;
    }
    
    .faqIntroduction{
        color: #4C4C4C;
    }
    
    .faq-advice{
    	margin-top: 3em;
    }
    
}