$navbar-modifier : 1.375;
$navbar-line-height: 2.5;

body {
    margin-top: $navbar-modifier*$navbar-line-height*1em;    
}

#navbar{
	display: table;
	table-layout: fixed;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 5%;
    @include responsive {
        padding: 0 2%;
    }
    z-index: 100;
    
    color: white;
    @extend .text-center;
    font-weight: 400;
    
    font-size: $navbar-modifier*1em;
    
    margin-top: -6px;
    border-bottom: 3px solid white;
    
    @include bg-jungle;
    
	.fa ~ span {
	    margin-left: 0.5em;
    }
	
    a{
        text-decoration: none;
        color: inherit;
        &:hover{
            @include light-olive;
        }
        @extend .animated-class-fastest;
    }
    
    .macrotab{
        line-height: $navbar-line-height;
    }
    
    #navbar-home, #navbar-tabs, #navbar-profile{
		display: table-cell;
		vertical-align: middle;
    }
    
    #navbar-home{
    	@extend .text-left;
    }
    #navbar-tabs{
    	@extend .text-center;
   		.macrotab{
   			width: 100%;
   			display: table;
   			table-layout: fixed;
    		a{
    			display:table-cell;
    		}
   		}
    }
    
    #navbar-profile{
    	
        .navbar-icons
        {
        	margin-left: 1em;
        	
        	.fa-stack
        	{
        		font-size: 0.7em;
        	}
        	
        	a
        	{
        		margin-left: 0.2em;
        	}
        }
        
        .navbar-username{
        	font-size: 0.8em;
        }
        
    }
    
    #navbar-signin, #navbar-signup{
        @extend .col-49;
        @extend .white;
        
        button{
            width: 90%;
            font-weight: 400;
            border-radius: 6px;
            text-transform: uppercase;
            @extend .bg-water;
            line-height: 1;
            font-size: $navbar-modifier*0.8em;
        }
        
    }
    
    #navbar-signin{
        @extend .offset-2;
    }
    
    #navbar-logged{
        @extend .col-100;
        @extend .white;
        @extend .text-right;
        
        button{
            margin-right: 3em;
            width: 30%;
            font-weight: 400;
            line-height: 1;
            font-size: $navbar-modifier*0.9em;
        }
    }
    
    .number-of-notifications{
    	@extend .bolder;
    	top: -0.8em;
    	left: -1.3em;
    }
    
    .number-of-cart-items{
    	@extend .bolder;
    	top: -0.8em;
    	left: -1.3em;
    }
    
    .cart-not-empty{
		@include light-olive;
    }
}