$navbar-line-height: 2.5;

body {
    margin-top: $navbar-line-height*1em - 0.1em;
    @include responsive
    {
    	margin-top: 0;
    	position: absolute;
    	top: 0;
    	width: 100%;
    }
}

#navbar-responsive
{
	z-index: 101;
	position: fixed;
	top: 0;
	height: 120vh;	
	width: 3.7em;
}

#menu
{
	z-index: 102;
	position: absolute;
	left: -11em;
	width: 11em;
	height: 100%;
	padding-top: 1em;
	@extend .bg-jungle;
	
	@extend .text-center;
	
	h5{
		padding-top: 0.8em
	}
	h3,h5,span
	{
		@extend .white;
	}
	h3{
		margin-bottom: 1em;
	}
}

#left-border-responsive
{
	position: absolute;
	top: 5%;
	width: 0.5em;
	height: 95%;
    box-shadow: 5px 5px 10px $darker-grey;
	@extend .bg-jungle;	
}

#navbar-toggle{
	
	position: absolute;
	top: 5%;
	width: 3.7em;
	height: 3.7em;
	border-radius: 0 5px 5px 0;
    box-shadow: 5px 5px 10px $darker-grey;
	@extend .bg-jungle;
	@extend .text-center;
	@extend .white;
	
	.fa{
		padding-left: 0.01em;
		position: relative;
		top: 1px;
	}
}

.navbar-profile-name
{
	@include responsive
	{
		margin-top: 2em;
		width:100%;
	}
	a{
		@include responsive
		{
			display: block;
		}
	}
}

#navbar{
	
	display: table;
	table-layout: fixed;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 0 5%;
    z-index: 100;
    
    color: white;
    @extend .text-center;
    font-weight: 400;
    
    font-size: 21px;
    
    margin-top: -6px;
    border-bottom: 3px solid white;
    
    @include bg-jungle;
    
	.fa ~ span {
	    margin-left: 0.5em;
    }
	
    a{
        text-decoration: none;
        color: inherit;
        &:hover{
            @include light-olive;
        }
        @extend .animated-class-fastest;
    }
    
}
    
.macrotab{
    line-height: $navbar-line-height;
}
    
#navbar-home, #navbar-tabs, #navbar-profile{
	display: table-cell;
	vertical-align: middle;
}
    
#navbar-home{
	@extend .text-left;
}

#navbar-tabs{
	@extend .text-center;
	.macrotab{
		width: 100%;
		display: table;
		table-layout: fixed;
		a{
			display:table-cell;
		}
	}
}

.navbar-icons{
	margin-left: 1em;
	@include responsive
	{
		display: table;
		width: 100%;
		margin-left: auto;
		margin-top: 2em;
	}
	
	div{
		@include responsive
		{
			display: table-row;
		}
	}
       	
	.fa-stack
	{
		font-size: 0.7em;
		@include responsive
		{
			font-size: 1.5em;
		}
	}
        	
	a
	{
		margin-left: 0.2em;
		
		@include responsive
		{
			margin-left: auto;
			display: table-cell;
			padding: 1em 0;
		}
	}
}
        
.navbar-username{
	font-size: 0.8em;
}
    
#navbar-signin, #navbar-signup{
    @extend .col-49;
    @include responsive
    {
    	width:100%;
    }
    @extend .white;
    
    button{
        width: 90%;
        font-weight: 400;
        border-radius: 6px;
        text-transform: uppercase;
        @extend .bg-water;
        line-height: 1;
    }
    
}
    
#navbar-signin{
    @extend .offset-2;
    @include responsive
    {
		margin-left: 0;
		margin-top: 1em;
    }
}

#navbar-signup{
	@include responsive
	{
		margin-top: 3em;
	}
}

#navbar-logged{
    @extend .col-100;
    @extend .white;
	@extend .text-right;
	@include responsive
	{
		text-align: center;
	}
}
    
.number-of-notifications{
  	@extend .bolder;
  	top: -0.8em;
  	left: -1.3em;
}
  
.number-of-cart-items{
	@extend .bolder;
  	top: -0.8em;
  	left: -1.3em;
}
 
.cart-not-empty{
	@include light-olive;
}