#payment-disclaimer-modal{
    @extend .in-main;
    margin-top: 3em;
    margin-bottom: 3em;
    
    form{
        margin-left: 3px;
        
        #payment-disclaimer-submit{
            @extend .col-30;
            @extend .btn;
            @extend .btn-success;
            margin-top:5em;
        }
        
        #payment-disclaimer-cancel{
            @extend .col-30;
            @extend .offset-40;
            @extend .btn;
            @extend .btn-danger;
            margin-top:5em;
        }
        
        
    }
    
}