#profile{
    @extend .in-main;
    
    .gridster-item{
        
        @extend .col-100;
        @extend .text-justify;
/*         @extend .bg-lightest-grey; */
    }
    
    .profile-panel-title{
        @extend .col-100;
        @extend .text-center;
        font-variant: small-caps;
    }
    
    .profile-panel-content{
        @extend .col-100;
        
        &>.container{
            padding: 10px;
        }
    }
    
    .profile-level-symbol{
    	@extend .col-20;
    }
        
    .profile-name-level-xp{
        @extend .col-75;
        @extend .offset-5;
        
        .profile-xp{
            @extend .col-100;
        }
        
        p{
            padding: 0;
        }
    }
    
    .profile-notifications
    {
		
    }
       
}