#profile{
    @extend .in-main;
    
    .gridster-item{
        
        @extend .col-100;
        @extend .text-justify;
/*         @extend .bg-lightest-grey; */
    }
    
    .panel-title{
        @extend .col-100;
        @extend .text-center;
        font-variant: small-caps;
    }
    
    .panel-content{
        @extend .col-100;
        padding: 26px 10px 26px 10px;
    }
    
    .profile-level-symbol{
    	@extend .col-30;
    	@extend .text-center;
    }
        
    .profile-name-level-xp{
        @extend .col-65;
        @extend .offset-5;
        
        .seed-level{
        	@extend .bolder;
        	font-size: 1.4em;
        	
        	span{
        		@extend .light-water;
        	}
        }
        
        .profile-xp{
            @extend .col-100;
            
            .progress-bar
            {
            	@extend .bg-water;
            	font-size: 1em;
            }
            
            .progress-striped, .progress-bar{
            	height: 30px;
            }
        }
        
        p{
            padding: 0;
        }
    }

	.profile-info{
		@extend .col-100;
		
		a{
			color: inherit;
			text-decoration: none;
			&:hover{
				@extend .green;
			}
		}
		
	}
	
	.profile-notification
	{
/* 		@extend .list-group-item; */
	}
       
}