@for $i from 0 through 100{
	
	.col-#{$i} {
		width: 0% + $i;
		float: left;
	}
	
	.row-#{$i} {
		height: 0% + $i;
	}
	
	.offset-#{$i} {
		margin-left: 0% + $i;
	}
}
	
@mixin col($i) {
	width: 0% + $i;
	float: left;
}
	
@mixin row($i) {
	height: 0% + $i;
}
	
@mixin offset($i) {
	margin-left: 0% + $i;
}
        
@mixin responsive {
    @media all 
	and (max-device-width: 1079px)
	{
		@content
    }
}
        
@mixin desktop {
    @media all 
	and (min-device-width: 1080px)
	{
		@content
    }
}

/* From 0 to 1079px - MOBILE/TABLET */

@for $i from 0 through 100{
    @media all 
	and (min-width: 0px + 10.79*$i)
	and (max-width: 10.79px + 10.79*$i)
	{	    
    	body{
    	    font-size: 10px + 0.072*$i;
    	}
    	
    }
}

/* From 1080 to 4096px - DESKTOP */

@for $i from 0 through 100{
    @media all 
	and (min-width: 1080px + 30.16*$i)
	and (max-width: 1110.16px + 30.16*$i)
	{	    
    	body{
    	    font-size: 9.78px + 0.234*$i;
    	}
    	
    }
}
    	
p{
    font-size: 16px;
    
    @include responsive
    {
    	font-size: 14px;
    }
}
    
.inline{
	display: inline;
}

.no-padding{
	padding:0;
}

small{
	@include responsive
	{
		font-size: 1em;
	}	
}

h6{
    font-size: 5/4*1em;
    @include responsive
    {
    	font-size: 7/6*1em;
    }
}

h5{
    font-size: 3/2*1em;
    @include responsive
    {
    	font-size: 8/6*1em;
    }
}

h4{
    font-size: 7/4*1em;
    @include responsive
    {
    	font-size: 9/6*1em;
    }
}

h3{
    font-size: 2em;
    @include responsive
    {
    	font-size: 10/6*1em;
    }
}

h2{
    font-size: 5/2*1em;
    @include responsive
    {
    	font-size: 11/6*1em;
    }
}

h1{
    font-size: 3em;
    @include responsive
    {
    	font-size: 2*1em;
    }
}

.fa{
	margin-right: 2px;
}