@import "bootstrap";
@import "bootstrap/theme";

/* General Behavior */

@import "variables";
@import "responsive";
@import "tricks";
@import "fonts";
@import "palette";
@import "social";
@import "flippers";
@import "forms";
@import "animate";

/* Pages */

@import "admin";
@import "navbar";
@import "header";
@import "footer";
@import "home";
@import "presentation";
@import "team";
@import "courses";
@import "course";
@import "activities";
@import "activity";
@import "media";
@import "contacts";
@import "register";
@import "payment-disclaimer";
@import "payment";
@import "faq";
@import "profile";
@import "modal";
@import "avatar";
@import "preferences";
@import "cart";

@import "scrollbar";
@import "perfect-scrollbar";
@import "angular-gridster";

#main{
    width: 100%;
   	padding-left: 0.5em;
}
    
.wrapper{
    @extend .col-100;
}

.mini-header{
    @extend .col-100;
    margin-bottom: 2em;
    
    img{
        width: 100%;
    }
}

    
.table-striped{
    &>tbody{
        &>tr{
            &:nth-of-type(odd){
                @extend .bg-white;
            }
            &:nth-of-type(even){
                @extend .bg-lightest-grey;
            }
        }
    }
}

.bookmark{
   	z-index: 100;
	position: relative;
	right: -30vw;
   	width: 75vw;
    margin-top: 1em;
    margin-bottom: 1em;
    &.ng-leave
    {
    	@extend .fadeOut;
    }
}
    
.bookmark-content{
   	height: 4em;
}
   
.bookmark-tail{
	position: absolute;
	left: 0;
   	border-top: 2em solid transparent;
    border-bottom: 2em solid transparent;
    border-left: 2em solid white;
}

html{
	@extend .animated-slow;
	@extend .fadeIn;	
}


