@for $i from 0 through 100{
	
	.col-#{$i} {
		width: 0% + $i;
		float: left;
	}
	
	.row-#{$i} {
		height: 0% + $i;
	}
	
	.offset-#{$i} {
		margin-left: 0% + $i;
	}
}
	
@mixin col($i) {
	width: 0% + $i;
	float: left;
}
	
@mixin row($i) {
	height: 0% + $i;
}
	
@mixin offset($i) {
	margin-left: 0% + $i;
}
        
@mixin responsive {
    @media all 
	and (max-device-width: 1079px)
	{
		@content
    }
}

@mixin mini {
	@media all
	and (max-device-width: 539px)
	{
		@content
	}
}
        
@mixin desktop {
    @media all 
	and (min-device-width: 1080px)
	{
		@content
    }
}

@mixin maxi {
	@media all
	and (min-device-width: 4096px)
	{
		@content
	}
}

/* RESPONSIVE STYLES */

/* For referencing $size-body outside of media queries */

/* From 100 to 539px  */

/* @include mini {

	body{
	    font-size: $size-body;
	}
	
}

From 540 to 1080px - RESPONSIVE

@for $i from 0 through 100{
    @media all 
	and (min-width: 540px + 5.4*$i)
	and (max-width: 545.4px + 5.4*$i)
	{
    	body{
    	    font-size: $size-body;
    	}
    }
} */

/* From 1080 to 4096px - DESKTOP */

@for $i from 0 through 100{
    @media all 
	and (min-width: 1080px + 30.16*$i)
	and (max-width: 1110.16px + 30.16*$i)
	{	    
    	body{
    	    font-size: 9.78px + 0.234*$i;
    	}
    	
    }
}
    	
p{
    font-size: 16px;
}
    
.inline{
	display: inline;
}

.no-padding{
	padding:0;
}

h6{
    font-size: 5/4*1em;
}

h5{
    font-size: 3/2*1em;
}

h4{
    font-size: 7/4*1em;
}

h3{
    font-size: 2em;
}

h2{
    font-size: 5/2*1em;
}

h1{
    font-size: 3em;
}

.mini-hide{
	@include mini {
		display: none;
	}
}

.responsive-hide{
	@include responsive {
		display: none;
	}
}

.desktop-hide{
	@include desktop {
		display: none;
	}
}

.maxi-hide{
	@include maxi {
		display: none;
	}
}

.mini-only{
	display: none;
	@include mini {
		display: initial;
	}
}

.responsive-only{
	display: none;
	@include responsive {
		display: initial;
	}
}

.responsive-strict{
	display: none;
	@include responsive {
		display: initial;
	}
	@include mini{
		display: none;
	}
}

.desktop-only{
	display: none;
	@include desktop {
		display: initial;
	}
}

.maxi-only{
	display: none;
	@include maxi {
		display: initial;
	}
}

.desktop-strict{
	display: none;
	@include desktop {
		display: initial;
	}
	@include maxi {
		display: initial;
	}
}

.fa{
	margin-right: 2px;
}