#school-courses{
    @extend .in-main;
    @extend .text-center;
    padding-bottom: 3vw;
    p {
    	@extend .text-justify;
    }   
}

#tiles-course-presentation{
	@extend .col-100;
	margin-top: 1em;
	margin-bottom: 3em;
	
	.tab{
	    @include responsive {
	        margin-bottom: 2em;
	    }
	}
    
    .inside-tab{
        margin-top: 1em;
        padding-bottom: 1em;
        @extend .col-90;
        @extend .offset-5;
        
        .title{
            font-weight: 600;
        }
        
        .title-wrapper{
            @extend .col-90;
            @extend .offset-5;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            font-size: 2.2em;
            line-height: 1;
        }
        
        .tab-content{
            @extend .col-100;
        }
        
        p{
            @extend .black;
        }
    }
}

#table-courses-table{
	p{
        @extend .black;
    }
}
#tiles-courses{
  
  	margin-top: 2em;
  	margin-bottom: 2em;
  
  	p{
        @extend .black;
    }
    
  	#tiles-courses-left, #tiles-courses-right {
  		@extend .col-45;
  		@extend .bg-olive;
  		@extend .black;
  		
  		@include responsive
  		{
			@include col(100);
			padding: 1%;
			margin-bottom: 0.5em;
  		}
  	}
  	
  	#tiles-courses-right {
  		@extend .offset-10;
  		
  		@include responsive
  		{
  			@include offset(0);
  		}
  	}
  	
  	.gain-icon, .unlock-icon{
  		@extend .col-30;
  		.fa {
  			font-size: 13em;
  			@include responsive
  			{
  				font-size:7em;
  			}
  		}
  	}
  	.experience-content{
  		@extend .col-60;
  		@extend .offset-5;
  		margin-top: 1%;
  		
  		ul{
  			padding-left: 20px;
  			font-size: 14px;
  		}
  		
  		p{
            @extend .black;
        }
  	}
  	.gain-icon{
  		@extend .offset-5;
  	}
  	.unlock-icon{
		margin-right: 5%;
  	}
}

.course-icon{
	width:8em;
	float: left;
	margin: 2em;
}

.course-cell{
	padding: 0.6em;
}