.scrollbar-wrapper{
	@extend .col-100;
	padding: 10px ;

    .scrollbar{
    	position: relative;
    	overflow-y: hidden;
    	width: 100%;
    	height: 100%;
        @extend .text-justify;
        padding: 16px;
    }
}