.facebook{
    color: #3B5998;
}
        
.twitter{
    color: #4099FF;
}

.google-plus{
    color: #d34836;
}

.linkedin{
    color: #007bb6;
}

.youtube{
    color: #BB0000;
}

.mail{
    color: #3b983d;
}