#tutorials{
    
    @extend .in-main;
    text-align: left;
    margin-top: 1em;
    
    .tutorial
    {
    	margin-bottom: 50px;
    	color: black;
    }
    
    .tutorial-title
    {
    	@extend .bg-pond;
    	color: white;
    	font-size: 2em;
    	padding-left: 10px;
    	
	    a {
	    	color: white;
	    	&:hover {
	    		text-decoration: underline;
	    	}
	    }
    }
    
    .tutorial-course
    {
    	@extend .bg-lightest-grey;
    	
    	font-size: 1.5em;
    	padding-left: 10px;
    }
    
    .tutorial-description
    {
    	@extend .bg-lightest-grey;
    	padding-left: 5px;
    }
    
    .tutorial-footer
    {
    	@extend .bg-lightest-grey;
    	line-height: 3em;
    	padding-bottom: 10px;
    }
    
    .tutorial-icon
    {
    }
    
    .tutorial-readmore
    {
    	padding-left: 10px;
    	font-size: 1.5em;
    }
    
    .tutorial-tag
    {
    	@extend .bg-green;
    	
    	border: 5px solid green;
	    border-radius: 15px 100px 100px;
	    padding: 5px 20px;
	    line-height: 3em;
	    margin: 0px 10px;
	    font-weight: bold;
    }
}