#tutorial{
    @extend .in-main;
    
    a{
        text-decoration: none;
        color: white;
    }
    
    .gridster-item{
        
        @extend .col-100;
        @extend .text-justify;
    }
    
    .no-gridster-item{
    	margin-bottom: 1em;
    	max-height: 75vh;
    }
    
    .panel-title{
        @extend .col-100;
        @extend .text-center;
        font-variant: small-caps;
    }
    
    .panel-content{
        @extend .col-100;
        padding: 26px 10px 26px 10px;
    }
    
    .tutorial-panel{
		@extend .col-100;
	}       
}