/* Margin between main elements */
$main-spacer: 1em;

/* Palette */

$olive: #c6db3d;
$lawn: #8dc34b;
$green: #4caf52;
$leaf: #38a899;
$pond: #4398a3;

$senape: #a1a61a;
$water: #0c9e84;

$yellow: #dee528;
$light-senape: $yellow;
$light-olive: #C9E113;
$light-lawn: #91E226;
$light-green: #30DD39;
$light-leaf: #2CE2C6;
$light-pond: #36CCDC;
$light-water: #1cdcba;

$dark-senape: #565908;
$dark-olive: #8E9B30;
$dark-lawn: #6B8F3C;
$dark-green: #418A44;
$dark-leaf: #379486;
$dark-pond: #3F858C;
$dark-water: #026e5b;

$lightest-grey: #f7f7f7;
$lighter-grey: #F4F4F4;
$light-grey: #ebebeb;
$grey: #d5d5d5;
$slightly-darker-grey: #AFAFAF;
$dark-grey: #7F7F7F;
$darker-grey: #333339;
$darkest-grey: #252525;

$jungle: #003E36;