/* Margin between main elements */
$main-spacer: 3vw;

/* Palette */

$olive: #c6db3d;
$lawn: #8dc34b;
$green: #4caf52;
$leaf: #38a899;
$pond: #4692a3;

$senape: #a1a61a;
$water: #0c9e84;

$yellow: #dee528;
$light-senape: $yellow;
$light-olive: #b2e528;
$light-lawn: #6de217;
$light-green: #1cdc41;
$light-leaf: #1cdc69;
$light-pond: #1cdc9a;
$light-water: #1cdcba;

$dark-senape: #565908;
$dark-olive: #526c0c;
$dark-lawn: #377808;
$dark-green: #047f1c;
$dark-leaf: #01763b;
$dark-pond: #036141;
$dark-water: #026e5b;

$lightest-grey: #f7f7f7;
$lighter-grey: #F4F4F4;
$light-grey: #ebebeb;
$grey: #d5d5d5;
$slightly-darker-grey: #AFAFAF;
$dark-grey: #7F7F7F;
$darker-grey: #333339;
$darkest-grey: #252525;

$jungle: #003E36;

/* Navbar fs */
$navbar-modifier: 1.3;
$navbar-responsive-modifier: 0.8;
$navbar-line-height: 2.5;

/* OLD Palette */

// $clean-water-green: #69f3aa;
// $clean-water: #6ad5ec;
// $dark-green: #003e36;
// $darkest-green: #00342d;
// $green: #1b7911;
// $light-green: #88d700;
// $lightest-green: #a4f47c;
// $orange: #f2b454;
// $purple: #cd6bed;
// $purple-blue: #658ced;
// $red: #ec655f;
// $water: #11b0b1;
// $water-green: #017564;
// $yellow: #e9f161;