.sass-cache/
.externalToolBuilders/
.settings/
node_modules/
snapshots/
uploads/
.project
dist/
*.scssc
.ftppass
js/controllers/Copy of profile.js
application/views/profile/profile2.php
js/controllers/Copy of course.js
application/views/courses/course2.php
application/config/paypal.php
*.db