Options +FollowSymLinks
RewriteEngine on

#RewriteCond %{REMOTE_HOST} !^127\.0\.0\.1
#RewriteCond %{HTTPS} !=on
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

#RewriteCond %{QUERY_STRING} ^_escaped_fragment_=/([^/]+)/*([^/]*)$
#RewriteRule ^(.*)$ /snapshots/%1%2.html? [NC,L]

RewriteCond %{HTTP_USER_AGENT} ^facebookexternalhit/1.1 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Googlebot [NC]
RewriteRule ^$ /snapshots/home.html [NC,L]

RewriteCond %{HTTP_USER_AGENT} ^facebookexternalhit/1.1 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Googlebot [NC]
RewriteCond %{REQUEST_URI} !^.*snapshots.*$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/(.*)$ /snapshots/$1$2.html [NC,L]

RewriteCond %{HTTP_USER_AGENT} ^facebookexternalhit/1.1 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Googlebot [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^.*snapshots.*$
RewriteRule ^(.*)$ /snapshots/$1.html [NC,L]

# Backoff for Facebook and Google
RewriteCond %{HTTP_USER_AGENT} ^facebookexternalhit/1.1 [NC,OR]
RewriteCond %{HTTP_USER_AGENT} Googlebot [NC]
RewriteCond %{REQUEST_URI} !^.*snapshots.*$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /snapshots/courses.html [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /#/$1 [L,R,QSA,NE]